@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
html{
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    padding-top: 100px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(80deg, #FBFBFD 0%, #A7A7A7 100% );
    color: #fff;
    height: 100%;
    margin-top: 120px;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: linear-gradient(71deg, #333333 48%, #1A1A1A 48%);
    position: fixed; 
    top: 0;  
    left: 0;  
    width: 100%;  
    z-index: 1000; 
    overflow: hidden;
}


.logo {
    
    font-weight: lighter;
    color: #fff;
}

.nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
}

.nav a:hover {
    color: #007bff;
}

.contact {
    text-align: center;
}

.phone {
    position: relative;
    display: block;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: bold;
    font-weight: 510;
    right: 100px;
    top: -10px;
}

.rounded-button {
    position: relative;
    background-color: #DE3E3E; 
    font-family: 'Montserrat', sans-serif;
    color: white; 
    border: none; 
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    box-shadow: 0 4px 15px rgba(255, 87, 51, 0.5); 
    transition: box-shadow 0.3s; 
    text-decoration: none;
    right: 70px;
    top: -6px
}

.rounded-button:hover {
    box-shadow: 0 8px 25px rgba(255, 87, 51, 0.7);
}


.glav {
    position: relative;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-left: 100px;
}

.min {
    position: relative;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-left: 100px;
    margin-top:-30px;
}

.rounded-button-red {
    position: relative;
    background-color: #473E52;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    white-space: nowrap;
    color: white; 
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 4px 15px #504063;
    transition: box-shadow 0.3s; 
    text-decoration: none;
    top: -6px;
    left: 100px;
    width:333px;
    height:62px;
}

.rounded-button-red:hover {
    box-shadow: 0 8px 25px #5c4875;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.modal-body {
    margin-bottom: 20px;
}

.contact-info {
    font-size: 1.1rem;
    margin: 10px 0;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.inf{
    color: #1A1A1A;
}

.img1{
    border: 6px solid #333333 ;
    position: relative;
    top: -400px;
    left: 800px;
}
.img2{
    border: 6px solid #333333 ;
    position: relative;
    left: 512px;
    top: -29px;

}
.img3{
    border: 6px solid #333333 ;
    position: relative;
    right: 213px;
    top: -29px;
}
.arrow-container {
    text-align: center;
}

.arrow-container {
    position: relative;
    width: 720px;
    height: 100px;
    background-color: #333333;
    top: -35px;
    left: 620px;
}

.arrow-down {
    display: inline-block;
    font-size: 3rem; 
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .arrow-down:hover {
    transform: translateY(-5px); 
  }


  
.main-container{
    background-color: #333333;
    position: relative;
    top: -56px;
    height: 600px;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;

}


.zagl{
    position: relative;
    margin-left: 150px;
    margin-top: 70px;
    font-size: 40px;

}

#ik1{
    position: relative;
    top: 50px;
    left: 220px;
}

#zagl1{
    position: relative;
    margin-left: 350px;
    margin-top: -50px;
}

#p1{
    position: relative;
    margin-top: -20px;
    margin-left: 350px;
    font-size: 19px;
}

#ik2{
    position: relative;
    top: -110px;
    left: 850px;
}
#zagl2{
    position: relative;
    margin-top: -20px;
    margin-left: 980px;
    margin-top: -200px;
}
#p2{
    position: relative;
    margin-top: -20px;
    margin-left: 980px;
    font-size: 19px;
}
#ik3{
    position: relative;
    top: 40px;
    left: 500px;
}
#zagl3{
    position: relative;
    margin-left: 630px;
    margin-top: -65px;
}
#p3{
    position: relative;
    font-size: 19px;
    margin-left: 630px;
    margin-top: -20px;
}


.empty {
    background-color: #989898;
    position: relative;
    height: 30px;
    top: -100px;
    z-index: 1; 
}

.port{
    background-color: #1F1F1F;
    position: relative;
    height: 3350px;
    top: -140px;
}

.ph{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-left: 160px;
    font-size: 40px;
    margin-top: 60px;
}

.pp{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
    font-weight: 400;
}


#pic1{
    position: relative;
    border: 20px solid #1C1C1C;
    border-radius: 10px;
    right: 40px;
    top: -310px;
    width: 60%;
    height: 60%;
    overflow: hidden;
}
#pic2{
    position: relative;
    border: 20px solid #1C1C1C;
    right: 60px;
    top:  -15px;
    border-radius: 10px;
    overflow: hidden;
}

#pic3{
    position: relative;
    width: 640px;
    height: 350px;
    right: 40px;
    border: 20px solid #1C1C1C;
    top: -323px;
    width: 60%;
    height: 60%;
    overflow: hidden;
}

#pic4{
    position: relative;
    border: 20px solid #1C1C1C;
    top: -720px;
    width: 50%;
    right: 40px;
    overflow: hidden;
}

#pic5{
    position: relative;
    border: 20px solid #1C1C1C;
    top: -430px;
    right: 65px;
    border-radius: 10px;
    overflow: hidden;

}


#pic6{
    position: relative;
    width: 504.3px;
    top: -740px;
    width: 50%;
    height: 50%;
    right: 40px;
    border: 20px solid #1C1C1C;
    border-radius: 10px;
    overflow: hidden;

}

#pic7{
    position: relative;
    border: 20px solid #1C1C1C;
    border-radius: 10px;
    overflow: hidden;
    left: 612px;
    top: -1200px;

}

#pic8{
    position: relative;
    width: 700px;
    height: 306px;
    border: 20px solid #1C1C1C;
    border-radius: 10px;
    overflow: hidden;
    right: 40px;
    top: -1400px;

}

#pic9{
    position: relative;
    width: 700px;
    height: 510px;
    top: -100px;
    border: 20px solid #1C1C1C;
    border-radius: 10px;
    overflow: hidden;
    right: 40px;
    top: -1420px;

}

#pic10{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    top: -2120px;
    left: 490px;
    height: 55%;
    width: 55%;
}

.psoc{
    position: relative;
    top: -2140px;
    right: 300px;
    font-weight: 600;
    text-align: right;

}

#insta{
    position: relative;
    top: -2260px;
    left: 1000px;
}


#fbook{
    position: relative;
    top: -2260px;
    left: 1030px;
}

.about{
    background-color: #2F323E;
    position: relative;
    right: 158px;
    top: -156px;
    width: 1581px;
    height: 2000px;
}

.hab{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-left: 160px;
    font-size: 40px;
    font-weight: 800;
    margin-top: 60px;
    margin-left: 310px;
}

.pab{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 310px;
}

.ppab{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
    font-size: 25px;
    font-weight: 400;
    margin-left: 310px;
}

#abimg1{
    position: relative;
    left: 950px;
    top: -350px;
}

#abimg2{
    position: relative;
    left: 250px;
    top: -300px;
}

#abimg3{
    position: relative;
    right: 620px;
    top: -85px;
}


#abimg4{
    position: relative;
    top: -285px;
    left: 610px;
}

#abimg5{
    position: relative;
    left: 250px;
    top: -20px;
    width: 1241px;
    height: 651px;
}